*{
    margin: 0;
    padding: 0;
}
.container{
  width: 100%;
  height: auto;
  background-color: #fff;
}
.head{
    margin: 2px auto;
    padding: 5px 5px;
    height: 50px;
    width: 100%;
    background: #000;
}
nav{
  width: 550px;
  height: 50px;
  background-color: #000;
}
nav ul{
  float:left;
}
nav ul li{
  display: inline-block;
  list-style-type: none;
}
nav ul li a{
  text-decoration: none;
  line-height: 50px;
  color: #fff;
  background-color:#000;
  padding: 5px 15px;
  border: 1px solid transparent;
  font-size: 13px;
  later-spacing: 0.5px;
  transition: 0.6s ease;
}
nav ul li a:hover{
  background-color: #009;
  opacity: 0.3;
  color: #fff;
  }
.head .ms{
  	float:right;
    display: inline-block;
    color: #fff;
    margin-top: -50px;
}
 .head .ms a{
  text-decoration: none;
  line-height: 50px;
  color: #fff;
  background-color:#000;
  padding: 5px 15px;
  border: 1px solid transparent;
  font-size: 13px;
  later-spacing: 0.5px;
  transition: 0.6s ease;
}
.head .ms a:hover{
  background-color: #009;
  opacity: 0.3;
  color: #fff;
  }
  .title{
    margin: 2px auto;
    padding: 5px 5px;
    height: 150px;
    width: 100%;
    background-color: #fff;
}
.title h1{
	 font-family: vivaldi;
	 font-size: 50px;
	 margin-top: 30px;
}
.title h3{
	 font-family: vivaldi;
	 color: #9a9898;
	 
}
.margin1{
	height: 3px;
	margin: 10px 100px;
	background-color:#000;
}
.margin2{
	margin: 10px 100px;
	height: 3px;
	background-color:#e6e6e6;
}
.content{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.image{
	margin-bottom: 20px;
	float:left;
	height: 500px;
	width: 66%;
	background-color:#e6e6e6;
}
.slider{
  margin-bottom: 20px;
	float:left;
	height: 500px;
	width: 66%;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/12.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.slider .title1{
  width:40%;
  height: auto;
  position: absolute;
  left: 18.5%;
}
.slider .title1 h1{
  margin-top: 100px;
  font-size: 60px;
  color: #fff;
  line-height: 70px;
}
.slider .title1 h1 span{
  color: #07d7a7 !important;
}
.slider .title1 p{
  font-size: 18px;
  color: #fff;
  line-height: 1.5;
  padding-top: 15px;
  padding-right: 20px;
}
.slider .title1 .btn{
  color: #fff;
  border:2px solid #fff;
  border-radius: 3px;
  padding: 16px 36px;
  text-align: center;
  latter-spacing: 0.5px;
  text-decoration: none;
  margin-right: 10px;
  line-height: 26px;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
  transition: 0.6s ease;
}

.slider .title1 .btn:hover{
  background-color: #272727;
}
.slide{
	float:right;
	margin-left:10px;
	height: 805px;
	width: 30%;
	border: 2px solid #000;
}
.slide .review{
 margin:5px 10px;
 height:350px;
}
.review h3{
	 font-size: 30px;
	 margin-top: 20px;
	 margin-bottom:50px;
	 color:red;
}
.review ul{
	margin:0;
}
.review ul li{
	list-style:none;
	display:block;
}
.review ul li a{
  margin:10px 20px;
  text-decoration: none;
  color: #000;
  padding: 5px 15px;
  border: 1px solid transparent;
  font-size: 20px;
  later-spacing: 0.5px;
}
.margin3{
	margin: 10px 20px;
	height: 3px;
	background-color:orange;
}
.margin4{
	height: 3px;
	margin: 25px 20px;
	background-color:#000;
}
.review .lpost{
	height:100px;
	width:97%;
	margin:10px 10px;
}
.lpost img{
height: 100px;
width: 150px;
}
.lpost p{
height: 100px;
width: 200px;
float:right;
margin-left:12px;
color:#9c9696;
}
.lpost p a{
	text-decoration: none;
	font-size:20px;
	color:#000;
}
.slide1{
	float:left;
	height: 285px;
	width: 66%;
	border: 2px solid #000;
}
.slide1 .nt{
	margin:10px 10px;
}
.slide1 .nt img{
	height:265px;
	width:50%;
	margin-right:10px;
}
.slide1 .nt p{
	height: 265px;
    width: 45%;
	float:right;
	color:#9c9696;
	overflow:hidden;
}
.slide1 .nt p a{
	text-decoration:none;
	color:#000;
	font-size:25px;
	margin-bottom: 200px;
}
.flex-content{
  margin-top:80px;
  clear: both;
  float: left;
}
.flex-content .flex-items{
  width: 20%;
  height: 200px;
  display: inline-block;
  text-align:left;
  margin-left:46px;
  overflow:hidden;
}
.flex-content .flex-items h5{
  font-size:18px;
  color:red;
  latter-spacing:0.5px;
  margin:20px 0px;
}
.flex-content .flex-items p{
  color:#272727;
}
.footer{
    margin-top: 100px;
    height: 50px;
    width: 100%;
    background: #6d6b6b;
}
.footer a{
   float:left;
  color: #9c9696;
  border:2px solid #9c9696;
  width:100px;
  border-radius: 3px;
  text-align: center;
  latter-spacing: 0.5px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  line-height: 26px;
  display: inline-block;
  font-size: 16px;
  transition: 0.6s ease;
}
.footer p{
height: 100px;
width: 300px;
float:right;
margin-left:12px;
margin-top: 10px;
color:#9c9696;
}